@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <h1>@Page.Title</h1>
                <h3>Friendly Zone</h3>
                <h5>Sign up now!</h5>
                <hr>  
                <h3>Author</h3>
                <article>
                    <p> William Gilbert Go</p>
                </article>
            </div>
        </div>
    </div>
</div>
 <br><br><br><br><br>