@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="content">
                <h1>@Page.Title</h1>
                <h3>FriendlyZone</h3>
                <h5>Cookies anyone?</h5>
                <hr>  
                <h3>Authors</h3>
                <article>
                    <p> William Gilbert Go, 300097271 </p>
                    <p> Brandon Peters, 300105618</p>
                    <p> Cameron Sweeney, 300096968</p>
                </article>
            </div>
        </div>
    </div>
</div>
 <br><br><br><br><br>