@{
    // Check if user log-in is authenticated, if not redirect to the Log-in page
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect(@Href("~/Account/Login?returnUrl="+Request.Url.LocalPath));
    }
    // If user not the admin, display 404 ERROR
    if (!User.IsInRole("Admin")) {
        Response.Redirect("~/Error/Unauthorized");
    }
    Layout = "~/_MainLayout.cshtml";
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Admin</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <h1>Admin</h1>
                        <hr>
                        <img class="chart" src="~/Charts/FollowersChart.cshtml" alt="Number of followers per user">
                        <img class="chart" src="~/Charts/PostsChart.cshtml" alt="Number of posts per user">
                        <img class="chart" src="~/Charts/UserRolesChart.cshtml" alt="role" /> 
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
