@{
    // Check if user log-in is authenticated, if not redirect to the Log-in page
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect(@Href("~/Account/Login?returnUrl="+Request.Url.LocalPath));
    }
    // If user not the admin, display 404 ERROR
    if (!User.IsInRole("Admin")) {
        Response.Redirect("~/ErrorPage");
    }
    Layout = "~/_SiteLayout.cshtml";
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Admin</title>
    </head>
    <body>
        
    </body>
</html>
