@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "FriendlyZone";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
        </hgroup>
    </div>
</section>
}

<p>Members are requested to post according to the following guidlines:</p>

<ol class="round">
    <li class="one">
        <h5>Think Before Posting</h5><br>
    </li>

    <li class="two">
        <h5>Use Appropriate Language</h5><br>
    </li>

    <li class="three">
        <h5>Have Respect for Others</h5><br>
</ol>