@{
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Friendly Zone";
}

 
        <div class="container">
           <header class="jumbotron" id="index">
               <div class="container">
                        <h1 style="padding-top:40px;">Friendly Zone</h1> 
                        <i class="fa fa-users" style="font-size: 100px"></i>
                        <br><br>
                        @if (!WebSecurity.IsAuthenticated) {
                            <p style="font-size: 20pt;" class="btn btn-success">
                                <a style="color: black;" href="~/Account/Register">Sign up now!</a> 
                            </p>
                        }
                         
                        <hr>
                        <br>
                       <p>Members are requested to post according to the following guidlines:</p>   
                        <ul>
                            <li>
                                <h4>Think Before Posting</h4>
                            </li>
                            <li>
                                <h4>Use Appropriate Language</h4>
                            </li>
                            <li>
                                <h4>Have Respect for Others</h4>
                                <br><br>
                        </ul>   
                </div>
            </header>  
        </div> 

