@{
    // Set the layout page and page title
    Layout = "~/_MainLayout.cshtml";
    Page.Title = "Login Failure";
}
 
     
<div class="container">
   <div class="row">
      <div class="col-lg-12">
         <div class="content">
             <h1>@Page.Title.</h1>
             <hr>
             <i class="fa fa-users" style="font-size: 100px"></i>
             <h2>Unsuccessful login with service.</h2>
         </div>
      </div>
   </div>
</div>