@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect(@Href("~/Account/Login?returnUrl="+Request.Url.LocalPath));
    }
    Layout = "~/_SiteLayout.cshtml";

    <!-- WORK WITH DATA -->
    var db = Database.Open("StarterSite");
    var name = UrlData[0];

    if(name.IsEmpty()) {
        Response.Redirect(@Href("~/Account/EditProfile"));
    }

    var selectQueryString = "SELECT * FROM UserProfile WHERE UserName=@0";
    var row = db.QuerySingle(selectQueryString, name);

    var username = row.UserName;

    if (IsPost) {
       username = Request["username"];
       if (String.IsNullOrEmpty(username)) {
           ModelState.AddError("username","Username name is required");
       }


       // insert data into database
       if (ModelState.IsValid) {
           var updateQueryString = "UPDATE UserProfile SET UserName=@0 WHERE UserName=@1";
           db.Execute(updateQueryString,username,name);
           Response.Redirect(@Href("~/Account/MyProfile.cshtml"));
       }
    }
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Update Profile</title>
    </head>
    <body>
        <h1>Update Profile</h1>
        <form method="POST" action="">
            <fieldset>
                <legend>Update Username</legend>
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" value="@username">
                </div> 
                <input type="submit" value="Update Profile">
            </fieldset>
        </form>
    </body>
</html>
