@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect(@Href("~/Account/Login?returnUrl="+Request.Url.LocalPath));
    }
    if (!User.IsInRole("Admin")) {
        Response.Redirect("~/404");
    }
     //Layout = "~/_SiteLayout.cshtml";
     Layout = "~/_MainLayout.cshtml";

     var db = Database.Open("StarterSite");
     var userID = UrlData[0];

     if(userID.IsEmpty()) {
         Response.Redirect(@Href("~/Admin"));
     }

     var row = db.QuerySingle("SELECT * FROM UserProfile WHERE UserId=@0", userID);

     if (row == null) {
         Response.Redirect("~/Error/Forbidden");
     } else {
         if (IsPost && !userID.IsEmpty()) {
             var deleteMessage = "DELETE FROM MemberComments WHERE UserId=@0";
        
         
             db.Execute(deleteMessage,userID);
         
        
             Response.Redirect("~/Admin/ContentManager.cshtml");
         }  
     } 
}



<div id="container">
   <div class="row">
       <div class="col-md-6 col-md-offset-3 center"> 
           <h1 style="padding-top:90px;">Delete Message - Confirmation</h1>
           <hr><br>
           <form method="post" action="">
               <p>Are you sure you want to delete the following Message? <br>
                    Name: <b>@row.Email </b>??? <br>
               </p>
               <p><input type="submit" value="Delete"></p>
           </form>
        </div>
    </div>
</div>